html {
	overflow: scroll;
	overflow-x: hidden;
}
::-webkit-scrollbar {
	width: 0;
	background: transparent;
}

* {
	scrollbar-width: none;
}

.overwrite-toolbar-icon {
	path:first-child {
		opacity: 1;
	}
	path:last-child {
		fill: #292321;
	}
}

.overwrite-star-icon {
	path:first-child {
		opacity: 1;
	}
	path:last-child {
		fill: #292321;
	}
}
